@import "tailwindcss";

@theme {
  --font-lexend: "Lexend Exa", sans-serif;

  --text-display: 3.5rem;
  --text-display--line-height: 1.1;
  --text-display--letter-spacing: -0.02em;

  --text-h1: 2.5rem;
  --text-h1--line-height: 1.2;
  --text-h1--letter-spacing: -0.01em;

  --text-h2: 2rem;
  --text-h2--line-height: 1.25;

  --text-h3: 1.5rem;
  --text-h3--line-height: 1.3;

  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.75;

  --text-body: 1rem;
  --text-body--line-height: 1.7;

  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.6;

  --text-label: 0.6rem;
  --text-label--letter-spacing: 0.05em;

  --text-mediumText: 15px;
  --text-smallText: 12px;

  --text-primaryBtn: 24px;
  --text-secondaryBtn: 18px;

  --color-primary: #1d80e1;
  --color-primary-complement: #1d59c1;
  --color-secondary: #27cae3;
  --color-secondary-complement: #25a6ba;
  --color-navbar-text: #a9c5e1ff;
  --color-subtitle: #6b8fb2ff;
}

/* NASCOSTA di default */
::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0);
  border-radius: 999px;
  transition: background 0.3s ease;
}

/* QUANDO SCROLLI */
.scrolling ::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.4);
}

.dark.scrolling ::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.4);
}

/* Firefox fallback */
* {
  scrollbar-width: none;
}

.scrolling * {
  scrollbar-width: thin;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.3) transparent;
}

body {
  overflow: hidden;
}
